body{

background-color:black;
padding: 2%;
}

header{

background-color:#17202A;
color:yellow;
font-family: 'Fredoka One', cursive;
width: 100%;
border-radius: 6px;

}

#newnote{
    margin: 2%;
    width: 90%;
    display: grid;
    grid-template-columns: 40% 40% 20%;

}

#error{

text-align: center;
font-family: 'Fredoka One', cursive;
font-size:100%;
color: white;
display: none;


}